/* STATION POPUP CSS */

/**** STATION ****/
.stationPopup {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  max-height: 40dvh;
  background: linear-gradient(#f0f0f08f, #ededed8f);
  border-radius: 0.4rem;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  transition: max-height 0.5s ease;
}

.stationPopup.expanded {
  max-height: 80dvh;
}

.stationPopup.mini {
  max-height: 20dvh;
}

.mapboxgl-ctrl {
  position: relative;
    bottom: 300px;
  }

.popupHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  flex-shrink: 0;
}

.popupHeader.scrolled {
  background-color: #ededed;
}

.title.scrolled {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}

.title.desktop {
  padding-top: 0.5rem;
}

.popupContent {
  flex: 1;
  min-height: 0; /* Critical for flex */
  overflow-y: auto !important;
}

.alertHeader {
  font-weight: 600;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.alert {
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

@media (max-width: 330px) {
  .stationPopup {
    overflow-x: auto !important;
  }

  .flyButton {
    font-size: 0.75rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111111 !important;
  padding: 0rem 0.5rem;
  border-radius: 0.3rem;
  max-width: 90%;
  word-wrap: break-word;
  line-height: 1.4;
}

.subtitle {
  color: #181818 !important;
  font-size: 1.1rem;
  word-wrap: break-word;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.equipmentWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.7rem;
  padding: 0.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: 0.1s; /* slight delay */
}


.equipmentRowOneWrapper {
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: max-content;
  }

.equipmentRowTwoWrapper {
  display: inline-flex;         
  gap: 0.25rem;
  width: 100%;
}

.equipmentStatus,
.equipmentCount { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.2); */
}

.equipmentCount {
  color: #181818 !important;
  gap: 0.25rem;
  font-size: 0.6rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #6b6b6b22;
}

.equipmentStatus {
  gap: 0.25rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.smallCaps {
  text-transform: lowercase;
  font-variant: small-caps;
}

.header {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0.8rem;
  display: table;
  justify-items: left;
  padding: 0.25rem 0.25rem;
  border-radius: 0rem 0.4rem;
}

.iconWrapper {
  color: inherit;
  display: inline-flex;
  margin-left: 0.3rem;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.4rem;
  /* vertical-align: middle; */
  border: none;
  background: transparent;
}

.complexIconWrapper {
  transition: box-shadow 0.1s ease, filter 0.1s ease, transform 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pressed {
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  filter: brightness(65%);
}

.nonInteractive {
  cursor: default;
  box-shadow: none;
}

.rotated {
  transform: rotate(180deg);
}

.adaNotesWrapper {
  display: flex;
  align-items: center;
  color: #111111 !important;
  gap: 0.25rem;
  margin-left: 0.25rem;
  font-weight: 300;
}


.keen-slider__slide {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 160px;
  min-width: 100% !important;
  box-sizing: border-box;
}

/**** ELEVATOR CARD ****/

.cardWrapperPlatform {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 0.3rem;
  position: relative;
}

.cardWrapperPlatform:nth-child(odd) {
  background-color: #fdfdfd;
}

.cardWrapperPlatform:nth-child(even) {
  background-color: #f3f3f3;
}

.cardWrapperPlatform:last-child {
  border-bottom: none;
}

.cardWrapperStreet {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 0.3rem;
  position: relative;
}

.cardWrapperStreet:nth-child(odd) {
  background-color: #fdfdfd;
}

.cardWrapperStreet:nth-child(even) {
  background-color: #f3f3f3;
}

.cardWrapperStreet:last-child {
  border-bottom: none;
}

.lastUpdated {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #707070;
  align-items: center;
  justify-items: center;
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.elevatorTitle {
  font-weight: 600;
  line-height: 1.4;
}

.elevatorTitle > div[aria-hidden="true"] {
  display: inline-flex;
  white-space: nowrap;
  vertical-align: middle;
}

.titleWrapper {
  max-width: 60%;
  word-wrap: break-word;
  flex-shrink: 1;
  font-size: 0.75rem;
  text-align: left;
  padding: 0.2rem 0rem 0.2rem 3rem;
  display: -webkit-inline-box;
  flex: 1 1 auto;
  gap: 0.15rem;
}

.directionLabel {
  font-weight: 300;
}

.elevatorCard {
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;
}


.elevatorCard .keen-slider {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gray-text {
  color: #6b6b6b;
  font-size: 0.7rem;
  font-variant: small-caps;
}

.gray-text-large {
  color: #6b6b6b;
  font-size: 1.2rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.slideImage {
  position: relative;
  height: 180px;
  max-width: 90% !important;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  border-radius: 0.3rem;
}

.verticalStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0;
}

.descriptionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 0.3rem;
  box-sizing: border-box;
}

.description {
  background-color: #727272;
  font-size: 0.7rem;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 0.3rem;
  line-height: 1rem;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

/**** STATUS CSS ****/
.statusText {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
}

.statusBad {
  color: #fff;
  background-color: #c80000e6;
  display: flex;
  position: relative;
  align-items: center;
  max-width: 90% !important;
  left: 50% !important;
  transform: translateX(-50%);
  gap: 0.4rem;
  padding: 0.2rem 0.7rem 0.4rem 0.7rem;
  border-radius: 0.0rem 0.3rem;
  justify-content: center;
  font-weight: 600;
  text-transform: lowercase;
  font-variant: small-caps;
}

.statusGood {
  color: #181818;
  background-color: #2bb9cfe6;
  display: flex;
  position: relative;
  align-items: center;
  max-width: 90% !important;
  left: 50% !important;
  transform: translateX(-50%);
  gap: 0.4rem;
  padding: 0.2rem 0.7rem 0.4rem 0.7rem;
  border-radius: 0.0rem 0.3rem;
  justify-content: center;
  font-weight: 600;
  text-transform: lowercase;
  font-variant: small-caps;
}

.statusGoodSmall {
  color: #055765;
  background-color: #2bb9cf36;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.4rem;
  padding: 0.0rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.0rem 0.3rem;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.statusBadSmall {
  color: #4d0404;
  background-color: #c8000026;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.4rem;
  padding: 0.0rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.0rem 0.3rem;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.eta {
  font-size: 0.95rem;
  text-transform: initial;
  font-variant: normal;
  color: #fff;
  font-weight: 600;
  margin-top: 0.1rem;
}

/**** BUTTONS ****/ 
.flyButton {
  display: inline-flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 3.8rem;
  right: 0.5rem;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 0.5rem;
  background-image: var(--flybutton-bg);
  background-size: cover;
  background-position: center center;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease, filter 0.1s ease;
}

  @media (min-width: 768px) {
    .stationPopup {
      left: 0% !important;
      top: 120px !important;
      transform: translateX(0) !important;
      width: -moz-max-content !important;
      width: max-content !important;
      height: -moz-fit-content;
      height: fit-content;
      max-height: 80dvh !important;
      min-width: 400px !important;
      max-width: 400px;
      overflow-y: auto;
      border-radius: 0rem 0.4rem 0rem 0rem;
    }
  }

/* Text backing */
.flyButtonLabel {
  display: inline-flex;
  background-color: #f5f5f5a4;
  position: relative;
  align-self: end;
  align-items: center;
  justify-content: center;
  color: #111;
  font-size: 0.8rem;
  font-weight: 600;
  font-variant: small-caps;
  border-radius: 0.2rem;
  padding: 0rem 0.5rem;
  backdrop-filter: blur(1px);
}

.flyButton:hover {
  filter: brightness(1.4);
}

.flyButtonActive {
  filter: brightness(1.2);
  transition: transform 0.1s ease, filter 0.1s ease;
}

.note {
  position: absolute;
  color: #111;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.9rem;
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.accessNoteToggle {
  background-color: #f9f370e6;
  font-size: 0.6rem !important;
  position: relative;
  display: inline-flex;
  width: 75% !important;
  line-height: 0.9rem;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 0.7rem;
  color: #111;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
  flex-direction: column;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.iconButtonHidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease 0.3s; /* wait 0.3s to fade in */
}

.iconButton {
  opacity: 0;
  pointer-events: none;
  border-radius: 100%;
  color: #111;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.accessNoteIconButton {
  background-color: #f4c6fbe6;
  display: inline-block;
  bottom: 16%;
  transform: translateX(-50%);
  align-items: center;
  padding: 0.2rem;
  margin-left: 1.6rem;
  justify-content: center;
  z-index: inherit;
}

.redundancyNoteIconButton {
  background-color: #f99a9a;
  display: inline-flex;
  top: -0.5rem;
  align-items: start;
}

.iconButtonVisible {
  opacity: 1;
  pointer-events: auto;
}


.accessNoteIconButton:hover {
  transform: translateX(-50%) scale(0.98);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}


.accessNote {
  position: absolute;
  left: 45%;
  bottom: -0.7rem;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center center;
  z-index: 5;
  width: 90%;
  max-width: 90%;
  background-color: #f4c6fbe6;
  color: #111;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.9rem;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.upcomingWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%; /* let children center within wrapper */
}

.upcomingNote {
  background-color: #f6dcda;
  width: max-content;        /* only as wide as text */
  max-width: 90%;            /* prevent overflow if text is very long */
  padding: 0.5rem 1.5rem;
  white-space: nowrap;       /* keeps text on one line */
  transform-origin: center left;
  left: 50%;                 /* center anchor */
  bottom: 0.2rem;
  transform: translateX(-50%); /* actually centers it */
  z-index: 9;
}


.upcomingIconButton {
  display: inline-flex;
  align-items: center;
  bottom: -0.2rem;
  left: 1.4rem;
  position: absolute;
  opacity: 1;
  background-color: #fff;
  padding: 0.1rem 0.1rem;
  transform: rotate(0deg);
  /* z-index: 10; */
}

.upcomingIconButtonRed {
  padding: 0.3rem 0.3rem;
  color: #c80000;
}

.upcomingIconButtonRedInverted {
  border-radius: 50%;
  padding: 0.3rem 0.3rem;
  background-color: #c80000;
  color: #fff;
  align-items: center;
  justify-content: center;
}


.redundancyNote {
  position: absolute;
  bottom: 18%;
  left: 100%;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  min-width: 120px;
  max-width: 140px;
  padding: 0.2rem 0.4rem;
  background-color: #f99a9a;
  color: #111;
  border-radius: 0.3rem;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center center;
  z-index: 5;
}


.redundantYes {
  background-color: #a7d3f6;
  color: #111;
}

.redundantNo {
  background-color: #f99a9a;
  color: #111;
}


.redundancyNoteContent {
  display: inline-flex;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: initial;
  font-variant: normal;
  line-height: 0.9rem;
  padding-top: 0.1rem;
  gap: 0.3rem;
}


/**** Redundancy note ****/
.redundancyNote.accessNote {
  z-index: 10; /* higher than access note */
}

.accessNoteHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.9rem;
  gap: 0.25rem;
}

.accessNoteClose {
  position: absolute;
  top: 0.1rem;
  right: 0.0rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  padding: 0 0.2rem;
  z-index: 3;
}

.OOSNote {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -10px);
  overflow: visible !important;
  width: 350%;

  color: inherit;

  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  padding-right: 1.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.9rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;

  opacity: 0;
  pointer-events: none;

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.OOSNoteBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}


.OOSToggleWrapper {
  position:relative; /* so that .OOSNote is relative to this */
  --icon-color: #055765;
}


.OOSNoteOpen {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}


.OOSNoteClose {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  padding: 0 0.3rem;
  z-index: 3;
}

.OOSIconButton {
  background: none;
  border: none;
  cursor: pointer;
}


/**** ANIMATIONS ****/
.upcomingAnimate {
  transform: scale(1.5) translateY(-2.7rem) translateX(0.8rem) /* grow & move up */
}

.thumbnailRowBlur {
  filter: blur(2px);
}


.accessNoteOpen {
  transform: translateX(-50%) scaleX(1);
}



.lineWrapper {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  max-width: 100%;
  white-space: normal;
}

.stationRouteWrapper {
  padding: 0.0rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition-delay: 0s;
}

.lineIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
}

.inaccessibleLineIcon {
  opacity: 0.7;
}

.lineIconSmall {
  width: 0.9rem;
  height: 0.9rem;
}

.lineIconLarge {
  width: 1.5rem;
}


.chevronWrapper {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.iconBackground {
  display: inline-flex;
  border-radius: 50%;
  padding: 0.2rem; /* backgroundColor set dynamically inline */
}

.chevronIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: #c0c0c0;
  border-radius: 100%;
  transition: transform 0.3s ease;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.small {
  width: 0.5rem;
  height: 0.5rem;
}

.colorGood {
  color: #055765;
  background-color: #2bb9cf36;
}

.colorGoodPlain {
  color: #2bb9cf;
}

.colorBad {
  color: #4d0404;
  background-color: #c8000026 !important;
}

.colorBadFaint {
  color: #4d0404;
  background-color: #c8000016 !important;

}

.strikethrough {
  text-decoration: line-through;
}

.colorBadPlain {
  color: #c80000;
}

.colorWarning {
  color: #604604;
  background-color: #ffb70077;
}

.colorWarningPlain {
  color: #ffb700;
}

.colorNeutral {
  color: #323131;
  background-color: #afafaf3f;
}

.colorGood .OOSNoteBackground {
  background-color: #d5eff3; /* opaque version of blue #2bb9cf36 */
}

.colorBad .OOSNoteBackground {
  background-color: #f6dcda; /* opaque version of red #c8000026 */
}

.colorWarning .OOSNoteBackground {
  background-color: #f7d696; /* opaque version of yellow #ffb70077 */
}


.detailsLabel {
  font-size: 0.85rem;
  font-variant: small-caps;
  color: #2c2c2c;
  margin-right: 0.25rem;
  line-height: 1;
}

.rotated {
  transform: rotate(180deg);
}

.detailsSection {
  margin-top: 0.5rem;
}

.thumbnailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: auto;
  height: auto;
  position: relative;
}

.topRowWrapper {
  position: relative;
}

.thumbnailRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -0.2rem !important;
}

@media (max-width: 394px) {
  .thumbnailRow {
    margin-top: 0.3rem;
    /* moves the text row down a little bit when width is smaller */
  }
}

.statusIconFloating {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.elevatorIcon {
  flex-shrink: 0;
}

.infoColumn {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
}

.info1 {
  flex: 2;
  min-width: 0;
  position: relative;
  max-width: fit-content;
}

.info2 {
  flex: 1.2;
  min-width: 0;
  position: relative;
}

.sliderWrapper {
  position: relative;
}

.paginationLabel {
  position: absolute;
  top: 0.85rem;
  right: 1.6rem;
  font-size: 0.75rem;
  font-variant: small-caps;
  background: rgba(255, 255, 255, 0.85);
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
  color: #2c2c2c;
  font-weight: 600;
  z-index: 2;
}


.dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: #333;
}