.onclick-popup.mapboxgl-popup.mapboxgl-popup-anchor-bottom{
  width: 700px !important;
  max-width: 700px !important;
  position: fixed !important;
  left: 50% !important;
  bottom: 0 !important;
  transform: translateX(-50%) !important;
}

