html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  height: 100%;
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


#map-container {
  height: 100%;
  width: 100%;
}

.onclick-popup .mapboxgl-popup-tip, .onhover-popup .mapboxgl-popup-tip {
  display: none !important;
  background: transparent !important;
}

/* Custom styles for the click popup */
.onclick-popup.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  z-index: 999;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100dvw !important;
  max-width: 100dvw !important;
  position: fixed !important;
  left: 50% !important;
  bottom: 0% !important;
  top: auto;
  transform: translateX(-50%) !important;
  overflow: visible !important;
  padding: 0px 0px 0px 0px !important;
  background: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(50px);
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  color: #333;
}

@media (min-width: 768px) {
  .onclick-popup.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
    padding: 5px 5px 5px 5px;
    background-color: #edededb3;
    backdrop-filter: blur(3px);
    box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.7);
    border-radius: 0.0rem 0.4rem 0.4rem 0rem;
    left: 0% !important;
    top: 120px !important;
    transform: translateX(0) !important;
    /* height: fit-content;
    max-height: 80vh; */
    width: max-content !important;

  }

  .show-3d-button-wrapper {
    top: 75px !important;
    left: 180px !important;
  }
}

/* Ensure image spans full width */
.onclick-popup img {
  border-radius: 5px;
  /* Round image corners */
  margin-top: 10px;
  width: 100%;
  /* Image spans full width */
  max-height: 50dvh;
  /* Limit image height to prevent excessive height */
  object-fit: cover;
  /* Ensure the image maintains aspect ratio */
}

.onclick-popup .mapboxgl-popup-content {
  background: #ffffff00 !important;
  box-shadow: none !important;
  position: relative !important;
  padding: 0px 0px 0px !important;
  pointer-events: auto;
  height: 100%;
  overflow-y: auto;
  overflow: visible !important;
}

@media (min-width: 768px) {
  .mapboxgl-popup-content {
    width: max-content;
    overflow: visible !important;
  }
}

.onclick-popup .mapboxgl-popup-close-button {
  position: absolute; /* Position relative to .stationPopup */
  z-index: 20;
  color: #939393;
  right: 10px;
  top: 10px; /* These will now work relative to .stationPopup */
  padding: 0.2rem 0.4rem 0.4rem 0.4rem;
  font-size: x-large;
  background-color: #dedede;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onhover-popup .mapboxgl-popup-close-button {
  position: absolute !important;
  color: #590606;
  left: 95% !important;
  transform: translateX(-50%);
  top: -5px !important;
  width: 28px;
  background-color: #e8e8e800 !important;
  border-radius: 0 !important;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}


.onclick-popup .mapboxgl-popup-close-button:hover {
  transform: scale(1.15);
  color: #636363;
  background-color: #dedede !important;
  border-radius: 100%;
}

.onclick-popup p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 1% !important;
}

.onclick-popup strong {
  display: flex;
  margin-bottom: 1% !important;
  color: #111;
  font-size: 18px;
}

/* Additional hover effects */
.onhover-popup .mapboxgl-popup-content {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 0;
  border-radius: 0.4rem;
  background-color: #f6dcda;
}

.last-updated {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #707070;
  position: fixed;
  top: 50px;
  left: 10px;
  font-size: 0.75rem;
  z-index: 999;
}

.map-top-wrapper {
  display: block;
}

.map-reset-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 70px;
  left: 6px;
  z-index: 998;
  background-color: #f0f0f0b3;
  backdrop-filter: blur(3px);
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding:6px 16px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #303030;
  cursor: pointer;
  gap: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.0);
  transition: background-color 0.2s, transform 0.2s;
}

.map-reset-button:hover {
  background-color: rgb(252, 252, 252);
  transform: translateY(-1px) scale(0.95);
}

.show-3d-button-wrapper {
  position: absolute;
  top: 112px;
  left: 6px;
  z-index: 998;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 4px 8px 4px 0px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  gap: 8px;
}

.show-3d-button-label {
  background-color: transparent;
  text-align: right;
}

.mapboxgl-ctrl.popup {
position: relative;
  bottom: 300px;
}

.mapboxgl-ctrl-geolocate {
  transform: scale(1.5); /* Increase size of geolocate */
}

.mapboxgl-ctrl-bottom-right {
  z-index: 1; /* keep it behind popup */
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}