.reactSelectCustomDropdownIndicator {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reactSelectCustomDropdownIndicator:hover, .reactSelectCustomClearIndicator:hover {
  opacity: 0.7;
}

.reactSelectCustomDropdownIndicator:focus, .reactSelectCustomClearIndicator:focus {
  outline: 2px solid #0066cc;
  border-radius: 4px;
}

.reactSelectCustomDropdownIndicator svg, .reactSelectCustomClearIndicator svg  {
  fill: #595959;
  stroke:  #595959;


}

